.font {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
}

.list-todos-wrapper {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: center;
  padding: 10px;

  ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin: 0;
    padding: 0;

    li {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      gap: 15px;
      .font();
      padding: 15px;
      background-color: rgb(245, 245, 245);

      .wrapper-item-content {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .content-wrapper {
          display: flex;
          align-items: center;
          gap: 10px;

          .wrapper-form-save {
            display: flex;
            gap: 5px;
            flex-wrap: wrap;
          }

          .content-todos {
            .font();
            text-decoration: none;
          }

          .completed-content-todos {
            text-decoration: line-through #4caf50;
          }
        }
      }

      .date-wrapper {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding-left: 52px;
        padding-right: 13px;

        .wrapper-edit-date {
          display: flex;
          align-items: center;
          gap: 10px;
        }

        .wrapper-form-save {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          gap: 5px;
        }

        .date-todo {
          height: 24px;
          text-align: center;
          .font();
          padding-top: 5px;
          padding-bottom: 5px;
          border-bottom: 1px solid #4caf50;
        }

        .warning {
          height: 24px;
          text-align: center;
          .font();
          border-bottom: 1px solid #f44336;
          color: #f44336;
          padding-top: 5px;
          padding-bottom: 5px;
        }
        .performed {
          background-color: green;
        }
        .file-wrapper {
          display: flex;
          align-items: center;
          padding-left: 10px;

          .file {
            display: none;
          }

          .label-file {
            .font();
            color: #fff;
            background-color: #4caf50;
            border-radius: 4px;
            cursor: pointer;
            padding: 7.5px 6px 7.5px 6px;
            box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px,
              rgb(0 0 0 / 12%) 0px 1px 5px 0px;
            &:active {
              -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6) inset;
              -moz-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6) inset;
              box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6) inset;
            }
          }
          .label-file:hover {
            background-color: #388e3c;
          }
        }
      }
    }
  }
}
.popup {
  opacity: 0;
  width: 0;
  height: 0;
  border-radius: 4px;
  background-color: rgba(34, 60, 80, 0.7);
  position: absolute;
  top: 40px;
  left: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 0;
  line-height: 100%;
  color: #fff;
  padding: 5px;
  transition: all 0.1s;
}

.content-edit:hover {
  .popup {
    opacity: 1;
    width: 100px;
    height: auto;
    font-size: 12px;
  }
}

.deleted:hover {
  .popup {
    opacity: 1;
    width: 100px;
    height: auto;
    font-size: 12px;
  }
}
.date-edit:hover {
  .popup {
    opacity: 1;
    width: 100px;
    height: auto;
    font-size: 12px;
  }
}
