.font {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
}

.list-todos-wrapper {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: center;
  padding: 10px;

  ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
    padding: 0;

    li {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      .font();
      padding: 15px;
      background-color: rgb(245, 245, 245);

      .content-wrapper {
        display: flex;
        align-items: center;
        gap: 15px;

        .wrapper-form-save {
          display: flex;
          gap: 10px;
        }

        .content-todos {
          max-width: 700px;
          .font();
          text-decoration: none;
          text-align: left;

          cursor: pointer;
        }

        .completed-content-todos {
          text-decoration: line-through #4caf50;
        }
      }

      .date-wrapper {
        display: flex;
        align-items: center;
        gap: 20px;

        .wrapper-form-save {
          display: flex;
          gap: 10px;
        }

        .date-todo {
          height: 24px;
          text-align: center;
          .font();
          padding: 5px;
          cursor: pointer;
          border-bottom: 1px solid #4caf50;
        }

        .warning {
          background-color: red;
          border: none;
        }
        .performed {
          background-color: green;
        }
      }
    }
  }
}
